* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {

  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  height: 70px;
  background-color: black;
}
.logo img {
  width: 80px;
  height: 80px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1{
    color: white;
    margin-left: 2rem;
}

/* .box{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center ; */
    /* margin-right: 1rem; */
    
/* } */ 



ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 70px;
  
  
}
ul  a {
  text-decoration: none;
  color:white;
 border-left:  1px solid white;
 padding: 1.5rem 2rem;

  
  
  
}

.box2{
width: 100%;
height: 90vh;
background-image: url(photo/food.jpg);
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
/* .box2 h1{
    color: yellow;
    position: absolute;
    top: 40%;
    width: 50%;
    height: 200px;
    left: 25%;
    text-align: center;
    border: 2px solid;
    padding: 2rem;
} */
.content
{
  width: 500px;
  height: 320px;
  background-color:rgba(189, 33, 33, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 15px solid #fff;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;


}
.content p
{
  font-size: 24px;
  color: #fff;
  margin-top: 0.5rem;
}
.content a
{
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 0.5rem 1rem;
  display: inline-block;
  margin-top: 0.8rem;
  font-size: 20px;
  border-radius: 10px;
}
.content a:hover
{
  background-color: #fff;
  color: #000;
}
.move
{
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 30px;
  color: aqua;

}
.move img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: zuber 2s linear infinite;
}
@keyframes zuber
{
  /* 0%{transform: rotate(0deg);} */
  /* 100%{transform: rotate(360deg);} */
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}

}
.animation
{
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  background-color:rgba(228, 228, 11, 0.5);
}
